Repository eriestrisnadi/eriestrisnadi.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.{html,css,scss,md,json,yml}": ["yarn format", "git add"],
  "*.{ts,js}": ["yarn lint", "yarn format", "git add"]
}

chore(pretty): format all using prettier
  .travis.yml
  README.md
  index.html
  resources/assets/css/theme.css
  resources/data-json/navigation.json
  resources/data-json/setting.json
  resources/index.json
  test/index.test.js
  tools/build-data.js
Due: yarn format, yarn lint

ci: update node_js ci to lts, remove prepublish scripts
  .travis.yml
  package.json
Due: yarn format

chore: update resume & and information, fix responsive to be centered & update visiblity cover
  index.html
  package.json
  resources/data-json/navigation.json
  resources/data-json/setting.json
  resources/index.json
  resources/index.mustache
  resume/resume.pdf
Due: yarn format

chore: remove resources/index.json, update build tools, and update test file
  .gitignore
  package.json
  resources/index.json
  test/index.test.js
  tools/build-data.js
Due: yarn format, yarn lint

chore: init new dev
  .babelrc
  .editorconfig
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  .prettierrc
  .vscode/settings.json
  .yarnrc.yml
  LICENSE
  README.md
  commitlint.config.js
  components/v1.0/commons/nuxt/logo/index.controller.ts
  components/v1.0/commons/nuxt/logo/index.scss
  components/v1.0/commons/nuxt/logo/index.vue
  components/v1.0/features/tutorial/index.vue
  jest.config.js
  nuxt.config.js
  package.json
  pages/index.controller.ts
  pages/index.vue
  static/favicon.ico
  static/icon.png
  store/README.md
  stylelint.config.js
  test/NuxtLogo.spec.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn lint

chore: migration to nuxt 3
  .babelrc
  app.vue
  components/Tutorial.vue
  components/nuxt/Logo.vue
  components/v1.0/commons/nuxt/logo/index.controller.ts
  components/v1.0/commons/nuxt/logo/index.scss
  components/v1.0/features/tutorial/index.vue
  jest.config.js
  nuxt.config.js
  nuxt.config.ts
  package.json
  pages/index.controller.ts
  pages/index.vue
  public/favicon.ico
  public/icon.png
  store/README.md
  tailwind.config.js
  test/NuxtLogo.spec.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn lint

chore: ignores .nitro and .output
  .gitignore
Due: none

chore: init theme
  assets/css/tailwind.css
  components/Footer.vue
  components/Navbar.vue
  components/Tutorial.vue
  components/icon/Brand.vue
  components/icon/Eclipse.vue
  components/icon/Github.vue
  components/icon/Mail.vue
  components/icon/Sun.vue
  components/icon/Twitter.vue
  components/theme/Mode.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  stylelint.config.js
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn lint

fix: theme mode component, using v-show instead v-if caused hydration
  components/theme/Mode.vue
Due: none

chore: add profile and work timeline component
  components/Footer.vue
  components/Navbar.vue
  components/Profile.vue
  components/Work.vue
  layouts/default.vue
  pages/index.vue
  tailwind.config.js
Due: yarn format, yarn lint

chore: add work section, and install @nuxt/content
  components/Work.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  pages/index.vue
  server/api/experiences.get.ts
  yarn.lock
Due: yarn format, yarn lint

chore: ui enhancement
  components/Profile.vue
  layouts/default.vue
  pages/index.vue
  server/api/experiences.get.ts
  tailwind.config.js
Due: yarn format, yarn lint

chore: using nuxt content instead of server api
  components/Work.vue
  content/experiences/bountie-io.md
  content/experiences/get-xpress.md
  content/experiences/paxel.md
  content/experiences/piri.md
  content/experiences/popaket.md
  content/experiences/self-employed.md
  content/experiences/swamedia.md
  package.json
  pages/index.vue
  server/api/experiences.get.ts
  tailwind.config.ts
  yarn.lock
Due: yarn format, yarn lint

chore: using .env for profile and footer
  .env.example
  components/Footer.vue
  nuxt.config.ts
  pages/index.vue
Due: yarn format, yarn lint

chore: add blog system
  components/Navbar.vue
  content/writing/29072022/0.md
  layouts/default.vue
  pages/index.vue
Due: yarn format

chore: add projects section
  content/projects/gitster-id.md
  content/projects/jaysn.md
  content/projects/jquery-rupiah.md
  content/projects/midtrans-php.md
  content/projects/miniblog.md
  content/projects/momochii.md
  content/projects/resiku.md
  content/projects/round-robin.md
  content/projects/storaji.md
  pages/archives/posts.vue
  pages/archives/projects.vue
  pages/index.vue
  tailwind.config.ts
Due: yarn format, yarn lint

chore: add post detail, update layout
  components/Work.vue
  layouts/default.vue
  pages/posts/[...slug].vue
Due: none

chore: refactor post & project for more reusable
  components/PostList.vue
  components/ProjectList.vue
  pages/archives/posts.vue
  pages/archives/projects.vue
  pages/index.vue
  utils/index.ts
  utils/sanitize-post.ts
Due: yarn format, yarn lint

chore: add site title to .env
  .env.example
  nuxt.config.ts
Due: yarn format, yarn lint

rewrite stacks
  .eslintignore
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .travis.yml
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  index.html
  next.config.mjs
  package.json
  postcss.config.js
  public/.nojekyll
  public/assets/docs/resume.pdf
  public/assets/images/next.svg
  public/assets/images/vercel.svg
  resources/assets/css/theme.css
  resources/assets/images/workspace.jpg
  resources/data-json/navigation.json
  resources/data-json/setting.json
  resources/index.mustache
  tailwind.config.ts
  test/index.test.js
  tools/build-data.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn lint

docs: update content README.md
  README.md
Due: yarn format

add some components, and implement navbar
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  components/main-nav.tsx
  components/mobile-nav.tsx
  components/mode-toggle.tsx
  components/site-header.tsx
  components/theme-provider.tsx
  components/ui/button.tsx
  components/ui/drawer.tsx
  components/ui/scroll-area.tsx
  components/ui/sheet.tsx
  config/navigation.ts
  config/site.ts
  lib/utils.ts
  package.json
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  tailwind.config.ts
  yarn.lock
Due: yarn format, yarn lint

layouting
  app/@navigation/default.tsx
  app/blog/page.tsx
  app/globals.css
  app/layout.tsx
  app/projects/page.tsx
  components/main-nav.tsx
  components/mobile-nav.tsx
  components/mode-toggle.tsx
  components/navigation.tsx
  components/profile-image.tsx
  components/profile.tsx
  components/site-header.tsx
  components/theme-provider.tsx
  components/ui/image.tsx
  config/navigation.ts
  config/navigation.tsx
  config/site.ts
  hooks/use-callback-ref.ts
  hooks/use-event-callback.ts
  hooks/use-event-listener.ts
  hooks/use-isomorphic-layout-effect.ts
  hooks/use-local-storage.ts
  hooks/use-media-query.ts
  hooks/use-ternary-dark-mode.ts
  lib/utils.ts
  package.json
  tailwind.config.ts
  yarn.lock
Due: yarn format, yarn lint

update theme default to dark mode
  components/mode-toggle.tsx
  hooks/use-ternary-dark-mode.ts
Due: yarn format, yarn lint

ui: layout enhancement
  app/@navigation/default.tsx
  app/blog/page.tsx
  app/layout.tsx
  app/loading.tsx
  app/projects/page.tsx
  components/profile.tsx
  components/soon.tsx
Due: none

fix: layout & sidebar responsive
  app/@navigation/default.tsx
  app/layout.tsx
Due: none

refactor: use usehooks-ts dep instead
  components/mode-toggle.tsx
  hooks/use-callback-ref.ts
  hooks/use-event-callback.ts
  hooks/use-event-listener.ts
  hooks/use-isomorphic-layout-effect.ts
  hooks/use-local-storage.ts
  hooks/use-ternary-dark-mode.ts
  package.json
  yarn.lock
Due: yarn format, yarn lint

refactor: image component
  components/ui/image.tsx
Due: none

chore: update config & add skill-tag component
  components/skill-tag.tsx
  config/stacks.ts
  tailwind.config.ts
Due: yarn format, yarn lint

chore: add framer-motion dep & marquee component
  components/marquee.tsx
  hooks/use-raf-loop.ts
  package.json
  yarn.lock
Due: yarn format, yarn lint

chore: add some components
  components/divider.tsx
  components/fade.tsx
  components/section-heading.tsx
  components/section-sub-heading.tsx
Due: none

chore: update config
  config/site.ts
Due: yarn format, yarn lint

chore: add stagger component
  components/stagger.tsx
  lib/animation.ts
Due: yarn format, yarn lint

chore: typed drag handlers on marquee
  components/marquee.tsx
Due: none

page: add home
  app/intro.tsx
  app/page.tsx
  app/tech-stack.tsx
  components/stacks.tsx
  lib/utils.ts
Due: yarn format, yarn lint

chore: update apple icon for dark mode
  config/stacks.ts
  public/assets/images/brands/apple.svg
Due: yarn format, yarn lint

chore: auto year spent intro
  app/intro.tsx
  config/site.ts
Due: yarn format, yarn lint

fix: button mode-toggle bg color
  components/mode-toggle.tsx
Due: none

chore: unforced prefers-color-scheme media
  app/globals.css
Due: yarn format
