Repository eriestrisnadi/eriestrisnadi.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.{html,css,scss,md,json,yml}": ["yarn format", "git add"],
  "*.{ts,js}": ["yarn lint", "yarn format", "git add"]
}

fix: header & layout responsive
  app/@navigation/default.tsx
  app/layout.tsx
  components/site-header.tsx
Due: none

feat: grouped layout
  app/(main)/@navigation/default.tsx
  app/(main)/intro.tsx
  app/(main)/layout.tsx
  app/(main)/loading.tsx
  app/(main)/page.tsx
  app/(main)/projects/page.tsx
  app/(main)/tech-stack.tsx
  app/(resources)/@navigation/default.tsx
  app/(resources)/blog/page.tsx
  app/(resources)/layout.tsx
  app/layout.tsx
  app/not-found.tsx
  components/menu-toggle.tsx
  components/navigation.tsx
  components/site-header.tsx
Due: none

refactor: move divider component
  app/(main)/page.tsx
  components/ui/divider.tsx
Due: none

feat: blog
  .github/workflows/deploy.yml
  app/(data)/blog/featured-posts.json/route.ts
  app/(data)/blog/recent-posts.json/route.ts
  app/(main)/latest-articles.tsx
  app/(main)/page.tsx
  app/(resources)/blog/featured-posts-carousel.tsx
  app/(resources)/blog/page.tsx
  app/(resources)/blog/posts.tsx
  app/(resources)/blog/recent-posts-carousel.tsx
  app/(resources)/blog/types.ts
  components/article-card.tsx
  components/article-placeholder.tsx
  components/ui/card.tsx
  components/ui/carousel.tsx
  components/ui/skeleton.tsx
  lib/fetcher.ts
  lib/file-contents.ts
  lib/mdx.ts
  package.json
  yarn.lock
Due: yarn format, yarn lint

chore: fix env
  .github/workflows/deploy.yml
Due: yarn format

chore: revert fix env
  .github/workflows/deploy.yml
Due: yarn format

fix: fallback runtime static build fetch
  app/(resources)/blog/featured-posts-carousel.tsx
  app/(resources)/blog/posts.tsx
  app/(resources)/blog/recent-posts-carousel.tsx
  lib/fetcher.ts
Due: yarn format, yarn lint

refactor(home): intro
  app/(main)/intro.tsx
Due: none

style(theme): update primary color
  app/globals.css
Due: yarn format

refactor(ui): steam variant
  components/navigation.tsx
  components/skill-tag.tsx
  components/ui/button.tsx
Due: none

fix(ui): dark mode stack icons
  config/stacks.ts
Due: yarn format, yarn lint

refactor: global not-found based on route
  app/(main)/layout.tsx
  app/(resources)/layout.tsx
  app/not-found.tsx
  app/route-layout.tsx
Due: none

feat(blog): post detail
  app/(data)/blog/featured-posts.json/route.ts
  app/(data)/blog/recent-posts.json/route.ts
  app/(main)/@navigation/default.tsx
  app/(main)/layout.tsx
  app/(resources)/@navigation/default.tsx
  app/(resources)/blog/[slug]/page.tsx
  app/(resources)/blog/featured-posts-carousel.tsx
  app/(resources)/blog/posts.tsx
  app/(resources)/blog/recent-posts-carousel.tsx
  app/(resources)/blog/types.ts
  app/(resources)/layout.tsx
  components/article-card.tsx
  config/site.ts
  lib/file-contents.ts
  lib/mdx.ts
  lib/slugify.ts
  package.json
  tailwind.config.ts
  yarn.lock
Due: yarn format, yarn lint

docs(post): hello
  contents/blog/hello-world.mdx
Due: none

refactor: get posts data
  app/(data)/blog/featured-posts.json/route.ts
  app/(data)/blog/recent-posts.json/route.ts
  app/(resources)/blog/[slug]/page.tsx
  app/(resources)/blog/featured-posts-carousel.tsx
  app/(resources)/blog/posts.tsx
  app/(resources)/blog/recent-posts-carousel.tsx
  lib/mdx.ts
Due: yarn format, yarn lint

refactor(blog): change to contentlayer
  .gitignore
  app/(resources)/blog/[slug]/page.tsx
  app/(resources)/blog/featured-posts-carousel.tsx
  app/(resources)/blog/posts.tsx
  app/(resources)/blog/recent-posts-carousel.tsx
  app/(resources)/blog/types.ts
  components/article-card.tsx
  config/site.ts
  contentlayer.config.ts
  lib/mdx.ts
  lib/utils.ts
  next.config.mjs
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format, yarn lint

refactor: code split
  src/app/(resources)/blog/[slug]/header.tsx
  src/app/(resources)/blog/[slug]/page.tsx
Due: none

fix: deprecated onLoadComplete next/image
  src/components/ui/image.tsx
Due: none

feat(blog): og & twitter card metadata
  contentlayer.config.ts
  contents/blog/hello-world.mdx
  src/app/(resources)/blog/[slug]/page.tsx
  src/config/site.ts
Due: yarn format, yarn lint

refactor: code splits documents
  contentlayer.config.ts
  src/documents/Post.ts
  src/documents/index.ts
Due: yarn format, yarn lint

chore: remove unused codes
  src/lib/fetcher.ts
  src/lib/slugify.ts
Due: yarn format, yarn lint

fix(blog): publish date
  src/app/(resources)/blog/[slug]/header.tsx
  src/components/article-card.tsx
  src/components/time-ago.tsx
  src/lib/utils.ts
Due: yarn format, yarn lint

refactor: global tz
  contentlayer.config.ts
  contents/blog/hello-world.mdx
  src/lib/utils.ts
Due: yarn format, yarn lint

feat(blog): add toc post
  contentlayer.config.ts
  package.json
  src/app/(resources)/blog/[slug]/page.tsx
  src/components/page-navigation.tsx
  src/documents/Post.ts
  src/lib/contentlayer-toc.ts
  src/lib/remark-heading-id.ts
  src/lib/slugify.ts
  yarn.lock
Due: yarn format, yarn lint

feat(blog): comments section on post detail page
  giscus.json
  package.json
  src/app/(resources)/blog/[slug]/page.tsx
  src/components/comments.tsx
  src/config/site.ts
  yarn.lock
Due: yarn format, yarn lint

fix: page navigation scroll & initiation
  src/components/page-navigation.tsx
  src/hooks/use-hash-location.ts
Due: yarn format, yarn lint

style: enhance article card layout and display
  src/app/(resources)/blog/posts.tsx
  src/components/article-card.tsx
Due: none

docs(post): switched to cursor editor
  contents/blog/why-i-switched-from-vscode-to-cursor-a-developers-perspective.mdx
  public/assets/images/cover/why-i-switched-from-vscode-to-cursor-a-developers-perspective.png
Due: none

chore: update yarn to stable
  .github/workflows/deploy.yml
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn format

chore(deps): bump to next@14.2.21, tailwindcss@^3.4.17 & postcss@^8.5.3
  package.json
  yarn.lock
Due: yarn format

fix: layout
  src/app/(main)/@navigation/default.tsx
  src/app/(main)/layout.tsx
  src/app/(main)/navigation.tsx
  src/app/(resources)/layout.tsx
  src/app/layout.tsx
  src/app/route-layout.tsx
  src/components/time-ago.tsx
Due: none

fix: loading ui
  src/app/(main)/loading.tsx
  src/app/(resources)/loading.tsx
  tailwind.config.ts
Due: yarn format, yarn lint

deps: change to motion
  package.json
  src/app/(main)/intro.tsx
  src/app/(main)/latest-articles.tsx
  src/app/(main)/page.tsx
  src/app/(main)/tech-stack.tsx
  src/app/(resources)/blog/posts.tsx
  src/components/fade.tsx
  src/components/marquee.tsx
  src/components/stagger.tsx
  src/components/ui/carousel.tsx
  src/components/ui/divider.tsx
  yarn.lock
Due: yarn format

fix: build
  src/app/(main)/layout.tsx
  src/app/(resources)/layout.tsx
  src/app/app-layout.tsx
  src/app/route-layout.tsx
Due: none

fix(post): navigation width & padding
  src/app/(resources)/blog/[slug]/page.tsx
Due: none

refactor!: update to next 15, changes contentlayer to velite
  .gitignore
  contentlayer.config.ts
  next.config.mjs
  package.json
  src/app/(resources)/blog/[slug]/header.tsx
  src/app/(resources)/blog/[slug]/page.tsx
  src/app/(resources)/blog/featured-posts-carousel.tsx
  src/app/(resources)/blog/posts.tsx
  src/app/(resources)/blog/recent-posts-carousel.tsx
  src/components/article-card.tsx
  src/components/mdx-content.tsx
  src/components/page-navigation.tsx
  src/config/site.ts
  src/documents/Post.ts
  src/documents/schemas/toc.ts
  src/lib/contentlayer-toc.ts
  src/lib/remark-heading-id.ts
  tsconfig.json
  velite.config.ts
  yarn.lock
Due: yarn format, yarn lint

fix: reading time & remove unused toc
  src/app/(resources)/blog/[slug]/page.tsx
  src/documents/Post.ts
Due: yarn format, yarn lint

fix: esm on tailwind
  src/lib/utils.ts
  tailwind.config.ts
Due: yarn format, yarn lint

fix(blog): isodate schema, client time ago
  src/components/time-ago.tsx
  src/config/site.ts
  src/documents/Post.ts
  src/documents/schemas/index.ts
  src/documents/schemas/isodate.ts
  src/lib/utils.ts
Due: yarn format, yarn lint
