Repository eriestrisnadi/eriestrisnadi.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

chore(deps): bump eslint-config-next from 15.1.7 to 15.2.3
  package.json
  yarn.lock
Due: yarn format

chore(deps): update @radix-ui & vaul
  package.json
  yarn.lock
Due: yarn format

chore(deps): resolution braces to ~3.0.3
  package.json
  yarn.lock
Due: yarn format

chore(deps): resolution esbuild to ~0.25.0
  package.json
  yarn.lock
Due: yarn format

chore(deps): bump next from 15.2.3 to 15.3.1
  package.json
  yarn.lock
Due: yarn format

chore(deps): bump react from ^18 to ^19
  package.json
  src/components/menu-toggle.tsx
  src/components/ui/carousel.tsx
  yarn.lock
Due: yarn format

chore(deps): bump eslint from ^9.0.0 to ^9.25.1
  package.json
  yarn.lock
Due: yarn format

feat(tools): encryption
  src/app/(main)/tools/encryption/page.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/lib/crypto.ts
Due: yarn format, yarn lint

nitip
  public/assets/docs/RIPLAY IFG Credit Life Insurance.pdf
Due: none

Path conditions:
  yarn format: (any of: *.{html,css,scss,md,json,yml}) or (any of: *.{ts,js})
  yarn lint: any of: *.{ts,js}
